/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

/* Anda juga mungkin ingin menyertakan ini untuk konsistensi */
/* Atau bisa langsung diganti di dalam body jika sudah ada global reset */
html {
    font-family: 'Poppins', sans-serif;
}